---
layout: default.hbs
subject: Reserved Event Ticket.
---
<div class="ticket-container">

	<div class="first-row">
		<div class="ticket-left-side">
			<div class="event-info">
				<div class="title">Meet the Dugong - 7</div>
			    <div class="company">By Footloose Egypt</div>
		    </div>
		</div>
		<div class="ticket-right-side">
		   <div class="top-right">
		   	 	<span class="helper"></span>
		   		<img src="https://brandmark.io/logo-rank/random/pepsi.png">
		   </div>
		</div>
	</div>

	<div class="second-row">
	 	<div class="event-date">
	    	<img src="../img/calendar.svg">
	    	<span>01.02.2018</span>
	 	</div>
	 	<div class="event-location">
	   		<img src="../img/location-pin.svg">
	   		<span>Marsa Alam, Egypt</span>
	 	</div>
	 	<div class="ticket-icon">
	    	<img src="../img/ticket.svg">
	    </div>
	</div>

	<div class="third-row">
		<div class="ticket-left-side">
		    <div class="holder-info">
		    	<div class="ticket-holder">
		    		<div class="title">
		    			Ticket Placeholder
		    		</div>
		    		<div class="info">
		    			Omnia Magdy
		    		</div>
		    	</div>
		    	<div class="optionals">
		    		<div class="title">
		    			Optionals
		    		</div>
		    		<div class="info">
		    			<p>Parasailing option</p>
						<p>Banana boat</p>
		    		</div>
		    	</div>
		    	<div class="type">
		    		<div class="title">
		    			Type
		    		</div>
		    		<div class="info">
		    			Main Ticket
		    		</div>
		    	</div>
		    	<div class="ticket-price">
		    		<div class="title">
		    			Total Price
		    		</div>
		    		<div class="price">
		    			2250 <span class="egp">EGP</span>
		    		</div>
		    	</div>
		    </div>
		    <div class="footer-message">
		    	<div class="text">Thank you for trusting XPayHub</div>
		    </div>
		</div>
		<div class="ticket-right-side">
		   <div class="bottom-right">
		   		<span class="helper"></span>
		   		<img src="https://apod.nasa.gov/apod/image/1110/qrcode_kaywa_600.jpg">
		   </div>
		</div>
	</div>
</div>